In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
customer_df = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Clustering/Cust_Segmentation.csv")

customer_df.head()

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,Address,DebtIncomeRatio
0,1,41,2,6,19,0.124,1.073,0.0,NBA001,6.3
1,2,47,1,26,100,4.582,8.218,0.0,NBA021,12.8
2,3,33,2,10,57,6.111,5.802,1.0,NBA013,20.9
3,4,29,2,4,19,0.681,0.516,0.0,NBA009,6.3
4,5,47,1,31,253,9.308,8.908,0.0,NBA008,7.2

In [12]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Id      850 non-null    int64
 1   Age              850 non-null    int64
 2   Edu              850 non-null    int64
 3   Years Employed   850 non-null    int64
 4   Income           850 non-null    int64
 5   Card Debt        850 non-null    float64
 6   Other Debt       850 non-null    float64
 7   Defaulted        700 non-null    float64
 8   Address          850 non-null    object
 9   DebtIncomeRatio  850 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 66.5+ KB

In [13]:
customer_df.drop(['Customer Id','Address'],axis=1,inplace=True)

In [14]:
customer_df.head()

,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
0,41,2,6,19,0.124,1.073,0.0,6.3
1,47,1,26,100,4.582,8.218,0.0,12.8
2,33,2,10,57,6.111,5.802,1.0,20.9
3,29,2,4,19,0.681,0.516,0.0,6.3
4,47,1,31,253,9.308,8.908,0.0,7.2

In [15]:
customer_df.shape

(850, 8)

In [20]:
customer_df.isnull().sum()

Age                  0
Edu                  0
Years Employed       0
Income               0
Card Debt            0
Other Debt           0
Defaulted          150
DebtIncomeRatio      0
dtype: int64

In [22]:
customer_df.isnull().sum()

Age                0
Edu                0
Years Employed     0
Income             0
Card Debt          0
Other Debt         0
Defaulted          0
DebtIncomeRatio    0
dtype: int64

In [23]:
customer_df['Defaulted'].fillna(0,inplace=True)

In [24]:
from sklearn.model_selection import train_test_split

X_train,X_test  = train_test_split(customer_df,test_size=0.3,random_state=3)

In [25]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters=4)

In [26]:
km.fit(X_train)

KMeans(n_clusters=4)

In [29]:
km.predict(X_test)

array([3, 0, 0, 3, 0, 0, 0, 0, 1, 3, 3, 0, 3, 3, 1, 3, 0, 3, 3, 0, 0, 3,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 1, 0, 3, 0, 3, 0,
       0, 3, 0, 0, 3, 0, 3, 0, 3, 3, 0, 2, 1, 0, 0, 0, 0, 3, 3, 3, 0, 0,
       3, 0, 0, 3, 3, 0, 3, 0, 0, 3, 0, 1, 0, 0, 0, 0, 3, 3, 1, 0, 0, 1,
       3, 0, 3, 0, 1, 0, 3, 1, 0, 0, 3, 3, 0, 1, 3, 1, 0, 3, 0, 0, 0, 0,
       3, 0, 3, 0, 0, 0, 1, 0, 3, 3, 0, 3, 0, 0, 2, 3, 0, 3, 0, 0, 1, 3,
       3, 0, 0, 0, 3, 1, 3, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 0, 0,
       0, 0, 0, 0, 0, 0, 3, 0, 0, 1, 1, 3, 3, 3, 0, 0, 0, 0, 3, 0, 3, 0,
       0, 0, 0, 0, 1, 0, 0, 3, 0, 0, 3, 3, 0, 3, 0, 0, 0, 0, 3, 3, 3, 0,
       0, 0, 3, 0, 0, 0, 0, 1, 1, 3, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 3, 3, 3, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3,
       0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 3, 0, 0])

### Diabetes Dataset

In [35]:
diabetes_df = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/diabetes.csv")

diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [36]:
diabetes_df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [45]:
x = diabetes_df[diabetes_df.columns[:8].values]
y = diabetes_df['Outcome']

In [46]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test  = train_test_split(x,y,test_size=0.3,random_state=3)

In [49]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [50]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [59]:
y_pred = model.predict(x_test)

In [61]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.658008658008658